// Color palette
$mzCB0: white;
$mzCB1: #efefef;
$mzCB2: #D1D5D8;
$mzCB3: #333333;
$mzCB4: #112233;
$mzCB5: #3498DB;
$mzCB6: #1ABC9C;
$mzCB7: #52B3D9;
$mzCB8: #F1C40F;
$mzCB9: #E74C3C;

// Component Specifics
$mzCTextDark: $mzCB3;
$mzCTextLight: $mzCB0;
$mzCNavDark: $mzCB4;
$mzCNavLight: $mzCB1;
$mzCSidebarDark: $mzCB4;
$mzCSidebarLight: $mzCB1;
$mzCShadow: $mzCB3;
