// Color palette
$mzCB0: white;
$mzCB1: #efefef;
$mzCB2: #dddddd;
$mzCB3: #222222;
$mzCB4: #2C3E50;
$mzCB5: #446CB3;
$mzCB6: #4ECDC4;
$mzCB7: #52B3D9;
$mzCB8: #EB974E;
$mzCB9: #EC644B;

// Component Specifics
$mzCText0: $mzCB3;
$mzCText1: $mzCB0;
$mzCNav: $mzCB4;
$mzCShadow: lighten($mzCB3, 50%);
