@mixin mzGenerateNavbar($color, $textColor) {
  @include mzElementReset();
  $mzNavHeight: 60px;
  height: $mzNavHeight;
  line-height: $mzNavHeight;
  font-size: $mzNavbarFontSize;
  background-color: $color;
  color: $textColor;
  border: 1px solid darken($color, 20%);

  &.mz-shadow {
    @include mzShadow(5px);
  }

  &.mz-fixed-top {
    position: fixed;
    z-index: $mzNavbarFixedZIndex;
    top: 0;
    left: 0;
    right: 0;
  }

  .mz-navbar-group {
    &.mz-flex-group-right {
      .mz-navbar-item:last-child {
        border-right: none;
      }
    }
    &.mz-flex-group-left {
      .mz-navbar-item:first-child {
        border-left: none;
      }
    }
    .mz-navbar-item:last-child {
      border-right: 1px solid darken($color, 20%);
    }
  }

  .mz-navbar-brand {
    padding: 0 $mzPL3;
    margin-right: $mzML4;
    display: inline-block;
    font-size: $mzNavbarFontSize * 1.2;
  }

  .mz-navbar-item {
    @include mzElementReset();
    @include mzActionItem();
    padding: 0 $mzPL4;
    display: inline-block;
    border-left: 1px solid darken($color, 20%);
    min-width: 35px;
    text-align: center;
    @include mzTapAnimationContainer($color);
  }
}

.mz-navbar {
  &.mz-dark {
    @include mzGenerateNavbar($mzCNavDark, $mzCTextLight);
  }
  &.mz-light {
    @include mzGenerateNavbar($mzCNavLight, $mzCTextDark);
  }
}