.mz-navbar {
  @include mzElementReset();
  @include mzShadow(5px);
  $mzNavHeight: 60px;
  background-color: $mzCNav;
  color: $mzCText1;
  height: $mzNavHeight;
  line-height: $mzNavHeight;
  font-size: $mzNavbarFontSize;

  &.mz-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .mz-navbar-group {
    &.shift-right {
      .mz-navbar-item:last-child {
        border-right: none;
      }
    }

    .mz-navbar-brand {
      padding: 0 $mzPL3;
      margin-right: $mzML4;
      display: inline-block;
      font-size: $mzNavbarFontSize * 1.2;
    }

    .mz-navbar-item {
      @include mzActionItem();
      padding: 0 $mzPL4;
      display: inline-block;
      color: $mzCText1;
      text-decoration: none;
      border-left: 1px solid darken($mzCNav, 20%);
    }
    .mz-navbar-item:hover{
      background-color: lighten($mzCNav, 10%);
    }
    .mz-navbar-item:active {
      background-color: lighten($mzCNav, 15%);
    }
    .mz-navbar-item:last-child {
      border-right: 1px solid darken($mzCNav, 20%);
    }
  }
}