@mixin mzElementReset () {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@mixin mzActionItem () {
  cursor: pointer;
  &:focus {
    outline:0;
  }
  -webkit-tap-highlight-color: none;
  -webkit-touch-callout: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}