$mzButtonHeight: 40px;

@mixin mzGenerateButton($color, $padding, $textColor: $mzCTextLight) {
  box-sizing: border-box;
  //@include mzShadow(2px);

  font-size: $mzButtonFontSize;
  font-weight: $mzButtonFontWeight;
  border: 1px solid darken($color, 10%);
  background: $color;
  height: $mzButtonHeight;
  line-height: $mzButtonHeight;
  padding: 0 $mzPL4;
  border-radius: $mzBtnRadius;
  margin-left: $padding;
  color: $textColor;


  &.mz-transparent {
    background: transparent;
    backgorund-color: none;
    color: $color;

    &:hover {
      color: $textColor;
    }

    &:active {
      color: $textColor;
    }
  }

  @include mzAnimationTap($color);
}

.mz-button {
  @include mzElementReset();
  @include mzActionItem();

  @include mzGenerateButton($mzCB2, $mzPL4, $mzCTextDark);

  &.mz-prime {
    @include mzGenerateButton($mzCB5, $mzPL4);
  }

  &.mz-success {
    @include mzGenerateButton($mzCB6, $mzPL4);
  }

  &.mz-info {
    @include mzGenerateButton($mzCB7, $mzPL4);
  }

  &.mz-warning {
    @include mzGenerateButton($mzCB8, $mzPL4);
  }

  &.mz-danger {
    @include mzGenerateButton($mzCB9, $mzPL4);
  }
}