$mzButtonHeight: 40px;

@mixin mzGenerateButton($color, $padding, $textColor: $mzCTextLight) {
  box-sizing: border-box;
  overflow: hidden;
  font-size: $mzButtonFontSize;
  font-weight: $mzButtonFontWeight;
  border: 1px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  background: $color;
  height: $mzButtonHeight;
  padding: 0 $mzPL4;
  border-radius: $mzBtnRadius;
  color: $textColor;


  &.mz-transparent, &.mz-flat {
    background: transparent;
    backgorund-color: none;
    border: 1px solid darken($color, 10%);
    color: $color;

    &.mz-default {
      color: $textColor;
    }
    @include mzTapAnimationContainer(lighten($color, 30%));
  }

  &.mz-flat {
    border: 1px solid rgba(0, 0, 0, 0);
  }

  &.mz-round {
    border-radius: $mzButtonHeight;
  }

  @include mzTapAnimationContainer($color);
}

.mz-button {
  @include mzElementReset();
  @include mzActionItem();

  &.mz-default {
    @include mzGenerateButton($mzCB2, $mzPL4, $mzCTextDark);
  }

  &.mz-prime {
    @include mzGenerateButton($mzCB5, $mzPL4);
  }

  &.mz-success {
    @include mzGenerateButton($mzCB6, $mzPL4);
  }

  &.mz-info {
    @include mzGenerateButton($mzCB7, $mzPL4);
  }

  &.mz-warning {
    @include mzGenerateButton($mzCB8, $mzPL4);
  }

  &.mz-danger {
    @include mzGenerateButton($mzCB9, $mzPL4);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}